<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Burhanuddin Mogul</p>
        <p>Using data from the weatherstack and mapbox api's
            I was able to develop a webapp using node.js.
        </p>
        <img src="/img/pp.png" class="portrait">
    </div>

    {{>footer}}

</body>

</html>